h1 {
  font-family: system-ui;
  font-size: 70px; 
  color: black;
  text-align: center;
}
body {
  background-color: #E6B89C;
}
nav {
    list-style-type: none; 
    position: fixed; 
    background-color: #D8CFAF;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 10px; 
}

li{
  display: inline;
padding: 190px; 
}
a:hover {
  background-color: hot pink; 
}

img {
  width: 25%
  border: dashed black 7px:
}
 
  a {
    text-decoration: none; 
    color: black; 
  }
